<!-- left social link ber -->
<div class="left-bar">
    <div class="left-bar-content">
        <div class="social-links">
            <a href="#"><i class="fa fa-pinterest"></i></a>
            <a href="#"><i class="fa fa-linkedin"></i></a>
            <a href="#"><i class="fa fa-instagram"></i></a>
            <a href="#"><i class="fa fa-facebook"></i></a>
            <a href="#"><i class="fa fa-twitter"></i></a>
        </div>
    </div>
</div>

<!-- Слайдер -->
<div class="hero-slider">
    <div class="hero-slide-item set-bg" data-setbg="img/bg.jpg">
        <div class="slide-inner">
            <div class="slide-content">
                <h2 class="slogan">Изменяя <br>пространство, <br> меняем ваш мир</h2>
                <a href="/portfolio" class="site-btn sb-light">Портфолио</a>
            </div>
        </div>
    </div>
    <div class="hero-slide-item set-bg" data-setbg="img/bg.jpg">
        <div class="slide-inner">
            <div class="slide-content">
                <h2>Здесь будет калькулятор</h2>
                <!--					<a href="#" class="site-btn sb-light">See Project</a>-->
            </div>
        </div>
    </div>
</div>

<div class="slide-num-holder" id="snh-1"></div>
<!-- /Слайдер -->

<div class="hero-right-text">architectural<br> bureau</div>