<div class="cta-image-box"></div>
<div class="container">
    <div class="row">
        <div class="col-lg-7 pl-lg-0 offset-lg-5 cta-content">
            <h2 class="sp-title">
                Ремонт под ключ
                <br>
                <span>
                        <a href="#" class="readmore">Рассчитать</a>
                    </span>
            </h2>
            <p>Pellentesque lorem dolor, malesuada eget tortor vitae, tristique lacinia lectus. Pellentesque sed accumsan risus, id aliquam nulla. Integer lorem risus, feugiat at mauris malesuada, accumsan pellentesque ipsum. Nunc dapibus, libero ut pulvinar accumsan, tortor nisl iaculis ligula. Curabitur finibus dolor vel lectus pretium interdum a eget ante. </p>
            <div class="cta-icons">
                <div class="cta-img-icon">
                    <img src="img/icon/light/1.png" alt="">
                </div>
                <div class="cta-img-icon">
                    <img src="img/icon/light/2.png" alt="">
                </div>
                <div class="cta-img-icon">
                    <img src="img/icon/color/3.png" alt="">
                </div>
            </div>
        </div>
    </div>
</div>