<div class="container">
    <div class="section-title">
        <h2>Услуги</h2>
    </div>
    <div class="row">
        <div class="col-lg-4 col-md-6">
            <div class="service-box">
                <div class="sb-icon">
                    <div class="sb-img-icon">
                        <img src="img/icon/dark/1.png" alt="">
                    </div>
                </div>
                <h3>Индивидуальный проект интерьера</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer sed dui eget lorem tincidunt.</p>
                <a href="#" class="readmore">Рассчитать</a>
            </div>
        </div>
        <div class="col-lg-4 col-md-6">
            <div class="service-box">
                <div class="sb-icon">
                    <div class="sb-img-icon">
                        <img src="img/icon/dark/2.png" alt="">
                    </div>
                </div>
                <h3>Строительно-монтажные работы</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer sed dui eget lorem tincidunt.</p>
                <a href="#" class="readmore">Рассчитать</a>
            </div>
        </div>
        <div class="col-lg-4 col-md-6">
            <div class="service-box">
                <div class="sb-icon">
                    <div class="sb-img-icon">
                        <img src="img/icon/dark/3.png" alt="">
                    </div>
                </div>
                <h3>Комплектация</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer sed dui eget lorem tincidunt.</p>
                <a href="#" class="readmore">Рассчитать</a>
            </div>
        </div>
        <div class="col-lg-4 col-md-6">
            <div class="service-box">
                <div class="sb-icon">
                    <div class="sb-img-icon">
                        <img src="img/icon/dark/4.png" alt="">
                    </div>
                </div>
                <h3>Авторский надзор</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer sed dui eget lorem tincidunt.</p>
                <a href="#" class="readmore">Рассчитать</a>
            </div>
        </div>
        <div class="col-lg-4 col-md-6">
            <div class="service-box">
                <div class="sb-icon">
                    <div class="sb-img-icon">
                        <img src="img/icon/dark/5.png" alt="">
                    </div>
                </div>
                <h3>Консультация</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer sed dui eget lorem tincidunt.</p>
                <a href="#" class="readmore">Рассчитать</a>
            </div>
        </div>
        <div class="col-lg-4 col-md-6">
            <div class="service-box">
                <div class="sb-icon">
                    <div class="sb-img-icon">
                        <img src="img/icon/dark/6.png" alt="">
                    </div>
                </div>
                <h3>Планировочное решение</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer sed dui eget lorem tincidunt.</p>
                <a href="#" class="readmore">Рассчитать</a>
            </div>
        </div>
        <div class="col-lg-4 col-md-6">
            <div class="service-box">
                <div class="sb-icon">
                    <div class="sb-img-icon">
                        <img src="img/icon/dark/6.png" alt="">
                    </div>
                </div>
                <h3>Упрощенный дизайн-проект</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer sed dui eget lorem tincidunt.</p>
                <a href="#" class="readmore">Рассчитать</a>
            </div>
        </div>
        <div class="col-lg-4 col-md-6">
            <div class="service-box">
                <div class="sb-icon">
                    <div class="sb-img-icon">
                        <img src="img/icon/dark/6.png" alt="">
                    </div>
                </div>
                <h3>Декорирование/мебелировка</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer sed dui eget lorem tincidunt.</p>
                <a href="#" class="readmore">Рассчитать</a>
            </div>
        </div>
    </div>
</div>